<div class="container-md custom-margin-top">
    <div class="row mt-5 p-4" *ngIf="!loading">
        <div class="col-md-4 bg-dark"  style="border-top-left-radius: 33px; border-bottom-left-radius: 30px; padding: 0px;">
            <img [src]="filteredUsers.avatar"  alt="User Avatar" style="border-top-left-radius: 30px; border-bottom-left-radius: 26px;" width="418px" height="516px"> 
            </div>
            <div class="col bg-light" style="border-top-right-radius: 33px; border-bottom-right-radius: 30px;" >
                <div class="" style="margin-top:80px; margin-left: 30px;">
                    <p class="text-left mt-5 ms-5" style="font-size: 27px;">
                        <span style="font-size: 26px;"><strong>First name:</strong></span> 
                        <span style="font-size: 22px;"> {{ filteredUsers.first_name }}</span>
                    </p>
                    <p class="text-left mt-5 ms-5" style="font-size: 27px;">
                        <span style="font-size: 26px;"><strong>Last name:</strong></span> 
                        <span style="font-size: 22px;"> {{ filteredUsers.last_name }}</span>
                    </p>
                    <p class="text-left mt-5 ms-5" style="font-size: 27px;">
                        <span style="font-size: 26px;"><strong>E-mail:</strong></span> 
                        <span style="font-size: 22px;"> {{ filteredUsers.email }}</span>
                    </p>
                    <p class="text-left mt-5 ms-5" style="font-size: 27px;">
                        <span style="font-size: 26px;"><strong>Id:</strong></span> 
                        <span style="font-size: 22px;"> {{ filteredUsers.id }}</span>
                    </p>
            </div>
                <div class="d-flex justify-content-end mt-5 mb-4 me-5">
                    <button class="btn btn-dark"  style="margin-right: 30px;" (click)="BackButton()">
                        <i class="bi bi-arrow-left-circle-fill me-1"></i> Home
                    </button>
                </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center" style="width:auto; height:100vh" *ngIf="loading">
    <app-spinner></app-spinner>
</div>